<!DOCTYPE html>
<html>
<head>
  <title>ComicReads</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<ul id='generated_login_links'>
  <% if !current_user %>
  
  
  
    <li><%= link_to('Login', user_session_path()) %></li>
    <li><%= link_to('Register', new_user_registration_path()) %></li>
  
  <% else %>
    <li>Welcome <%= current_user.display_name %></li>
    <li><%= link_to('Logout', destroy_user_session_path()) %></li>
  <% end %>
</ul>
<%= render 'shared/admin_nav' %>
<% flash.each do |index, message|  %>
  <div id='flash_message' class='<%= index.to_s %>'><%= message %></div>
<% end  %>

<%= yield %>

</body>
</html>
